#app {
  width: 100%;
  height: 100%;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    min-height: 60vh;
}

.image-container { 
  background-color: black;
}

.cursor-pointer { 
  cursor: pointer; 
}

.word-cloud {
  min-width: 200px;
  min-height: 200px;
  height: 60%;
  width: 60%;
}

.icon-circle {
    padding: .5em;
    border-radius: 100%;
    background: LightGray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
