#header {
  height: 60px;
}

#main {
  height: calc(100vh - 120px) !important;
}

#footer {
  height: 60px !important;
  background: #f8f9fa 0% !important; /*#E3E2DF */
}

.leaflet-container {
    height: 100%;
    width: 100%;
    min-height: 50vh;
}

#photo-view {
  background-color: black;
}

.carousel-inner {
  height: calc(100vh - 120px) !important
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.cursor-pointer { 
  cursor: pointer; 
}

.word-cloud {
  min-width: 200px;
  min-height: 200px;
  height: 60%;
  width: 60%;
}

.icon-circle {
    padding: .5em;
    border-radius: 100%;
    background: LightGray;
}

.footer-icons {
  margin-right: 36%;
}
