html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#main {
  height: 100%;
  width: auto;
  overflow-y: auto;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  min-height: 53vh;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 2px;
  margin-right: 10px;
}

.leaflet-left {
  background: rgba(255, 255, 255, 0.7) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.word-cloud {
  min-width: 200px;
  min-height: 200px;
  height: 60%;
  width: 60%;
}

.link-decoration {
  text-decoration: none;
}
